$readmore-display : 'inline' !default;
$readmore-font-familly : null !default;
$readmore-font-size : null !default;
$readmore-font-weight : null !default;
$readmore-margin-x : null !default;
$readmore-margin-y : null !default;

$readmore-btn-font-familly : null !default;
$readmore-btn-font-size : null !default;
$readmore-btn-font-weight : null !default;